[include]
    # Variable config such as email and name
    path = ~/.gitconfig_private
[user]
    # Should be set in `~/.gitconfig_private`
[credential]
    helper = cache
[core]
    excludesfile = ~/.gitignore_global
    autocrlf = input
[pager]
    diff = diff-so-fancy | less --tabs=1,5 -RFX
    show = diff-so-fancy | less --tabs=1,5 -RFX
[interactive]
    singleKey = true
[alias]
    a = add
    ad = add
    addd = add
    b = branch --sort=committerdate
    ; bb = for-each-ref --color=always --sort=committerdate refs/heads/ --format='%(color:yellow)%(committerdate:relative)%(color:reset) $$$ %(authorname) $$$ %(color:white)%(objectname:short)%(color:reset) %(color:red bold)%(HEAD)%(color:reset) %(color:green)%(refname:short)%(color:reset) > %(contents:subject)'
    bname = rev-parse --abbrev-ref HEAD
    cloner = clone --recursive -j 4
    cm = commit
    cm-empty = commit --allow-empty-message
    cmempty = commit --allow-empty --allow-empty-message -m ''
    cman = commit --amend --no-edit
    co = checkout
    d = diff
    ds = diff --staged
    # Show a more linear history, without including all commits in merges
    l = log --graph --pretty=format:'%C(bold)%Cred%h%Creset %C(bold)%Cgreen(%ci) %C(bold 132)%an%Creset%C(bold)%C(yellow)%d%Creset%n    %s' --first-parent
    mom = ! git fetch && git merge origin/master
    lg = log --graph --pretty=format:'%C(bold)%Cred%h%Creset %C(bold)%Cgreen(%ci) %C(bold 132)%an%Creset%C(bold)%C(yellow)%d%Creset%n    %s'
    pf = push origin HEAD --force-with-lease
    ph = push origin HEAD
    prune-remote = remote prune origin
    s = status -ss
    set-upstream = ! git branch -u origin/$(git bname)
    review = show --stat -p
    ss = status
    subinit = submodule update --init --recursive
    wt = worktree
[init]
	defaultBranch = master
[pull]
	rebase = false
