[Desktop Entry]
Exec=sshfs francium@nero.rmrf.ca:/media/ deepspace-sshfs/
Terminal=false
Name=Mount Deepspace (SSHFS)
Type=Application
Icon=network-wired
