[Desktop Entry]
Exec=gnome-terminal -- bash -i -c "d=1 /home/$(whoami)/.local/ibin/wiki todo/index.md"
Terminal=false
Name=Todo
Type=Application
Icon=book
