snippet jsdoc
/**
 * $1
 */
endsnippet

snippet it
it('$1', () => {
  $0
});
endsnippet

snippet be
beforeEach(() => {
  $0
});
endsnippet

snippet ae
afterEach(() => {
  $0
});
endsnippet

snippet ba
beforeAll(() => {
  $0
});
endsnippet

snippet aa
afterAll(() => {
  $0
});
endsnippet
